.fond{
  height: 100vh; /* prend toute la hauteur de l'écran */
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #f8f9fa;
}
.carte-login {
   background-color: #f8f9fa;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px; /* Limite la largeur de la carte */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}